/*Comienzo de Agenda*/
.fondoAgenda {
  background-image: url(../scss/fondos/agenda.jpg);
  background-size: cover;
  width: 100%;
  height: 90vh;
  @media (max-width: 992px) {
    background: linear-gradient(-45deg, #ee7752, deeppink, #23a6d5, #23d5ab);
    background-size: 200% 300vh;
    background-repeat: no-repeat;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  h1 {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    @include h1-size(h1);
    @include h1-color(h1);
    @media (max-width: 992px) {
      display: visible;
    }
    @media (max-width: 566px) {
      font-size: 2rem;
    }
  }
  .agenda {
    width: 70%;
    padding: 1rem;
    font-size: 1.5rem;
    @include p-condicion(textos);
    @media (max-width: 992px) {
      width: 90%;
      left: 1rem;
      right: 1rem;
    }
    @media (max-width: 566px) {
      font-size: 1rem;
    }
  }
  .gridAgenda {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr * 3;
    align-items: center;
  }

  .horario {
    text-align: center;
  }
}

/*Fin de Agenda*/
