/*empieza speakers*/
.fondoSpeakers {
  background-image: url(../scss/fondos/agenda.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  @media (max-width: 992px) {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    background: linear-gradient(-45deg, #ee7752, deeppink, #23a6d5, #23d5ab);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  h1 {
    text-align: center;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include h1-size(h1);
    @include h1-color(h1);

    @media (max-width: 566px) {
      font-size: 2rem;
    }
  }
  .Speakers {
    width: 80%;
    @include p-condicion(textos);
    padding: 1rem;
    margin-bottom: 1rem;
    @media (max-width: 992px) {
      display: block;
    }
    @media (max-width: 566px) {
      margin-bottom: 3rem;
    }
  }

  .gridSpeakers {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 10px;
    align-items: center;
    @media (max-width: 992px) {
      display: block;
    }
  }

  .fotoSpeaker {
    margin: auto;
    width: 150px;
    margin-left: 1rem;
    transition: 1s;
    &:hover {
      transform: scale(1.3);
    }
    @media (max-width: 992px) {
      display: block;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    @media (max-width: 566px) {
      display: block;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .bio {
    text-align: left;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    @media (max-width: 566px) {
      font-size: 1rem;
    }
  }
}
/*termina speakers*/
